body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  min-width: 960px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.modal,
.inactive {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header-site-desc {
  width: 620px;
}

.main-header-top {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.main-logo {
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  height: 30px;
  text-align: center;
  padding-top: 12px;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
          box-shadow: 0 5px 0 0 #9a212a;
}

.main-logo-footer:hover,
.main-logo-footer:focus {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.main-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
          box-shadow: 0 5px 0 0 #8e1e26;
}

.main-logo-footer:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.searchform {
  width: 270px;
  height: 42px;
}

.search-input {
  color: #ffffff;
  background-color: #293449;
  border: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 5px 2px 2px;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input:-ms-input-placeholder {
  color: #ffffff;
}

.search-input::-ms-input-placeholder {
  color: #ffffff;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:hover + .search-button {
  background-color: #212a3a;
}

.search-input:hover + .search-button svg {
  fill: #ffffff;
}

.search-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-button {
  background-color: #293449;
  border: none;
  cursor: pointer;
  position: relative;
  width: 46px;
  margin: 0;
  padding: 0;
}

.search-button svg {
  fill: #666e7d;
  position: absolute;
  left: 17px;
  bottom: 13px;
}

.search-button:hover svg,
.search-button:focus svg {
  fill: #ffffff;
}

.search-input:focus + .search-button svg {
  fill: #ee3643;
}

.search-input:focus + .search-button {
  background-color: #ffffff;
}

.header-link {
  color: #ffffff;
  width: 150px;
  height: 42px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 5px 10px 45px;
  position: relative;
}

.header-link-basket {
  padding-left: 50px;
}

.header-link-bookmark::before {
  content: "";
  background: url(../img/icon-bookmark.svg) no-repeat;
  opacity: 0.3;
  margin-right: 10px;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 17px;
}

.header-link-basket::before {
  content: "";
  background: url(../img/cart-icon.svg) no-repeat;
  opacity: 0.3;
  margin-right: 10px;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 17px;
}

.header-link-bookmark:hover,
.header-link-basket:hover,
.header-link-bookmark:focus,
.header-link-basket:focus {
  background-color: #212a3a;
}

.header-link-bookmark:hover::before,
.header-link-basket:hover::before {
  opacity: 1;
}

.header-link-bookmark:active,
.header-link-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-link-bookmark:active::before,
.header-link-basket:active::before {
  opacity: 0.3;
}

.header-link-submit {
  background-color: #63a63e;
  padding-left: 20px;
  padding-top: 12px;
}

.header-link-submit:hover,
.header-link-submit:focus {
  background-color: #5fbb2d;
}

.header-link-submit:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-link-red {
  background-color: #ee3643;
}

.header-link-red:hover,
.header-link-red:focus {
  background-color: #ca2c37;
}

.header-link-red:active {
  background-color: #ba2732;
}

.short-site-desc {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 200px;
  padding: 49px 50px 40px 52px;
  margin: 0;
}

.header-address-phone {
  background: url(../img/icon-phone.svg) no-repeat;
  background-position: 13px 11px;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid white;
  padding: 10px 45px 8px 72px;
  width: 148px;
  margin: 46px 0 0 17px;
}

.header-address-street {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
  margin-top: 5px;
  padding-left: 27px;
  padding-right: 5px;
}

.main-header-user {
  width: 320px;
}

.user-menu-main {
  width: 300px;
  margin: 46px 0 0 20px;
  padding: 0;
}

.user-menu {
  list-style: none;
  width: 300px;
  margin: 46px 0 0 20px;
  padding: 0;
}

.order-menu {
  margin: 5px 0 0 38px;
  padding: 0;
}

.order-menu li:last-child {
  margin-left: 29px;
  position: relative;
}

.order-menu li:last-child::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 9px;
  left: -16px;
  border-radius: 50%;
  background-color: #32425c;
}

.main-header-user li {
  display: inline-block;
  vertical-align: baseline;
}

.user-enter {
  margin-left: 20px;
}

.user-enter span {
  padding-left: 8px;
}

.auth-menu,
.auth-menu a {
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  display: block;
  width: 121px;
  padding: 12px 0 12px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.auth-menu-user-name {
  width: 240px;
  padding: 11px 3px 12px 14px;
}

.auth-menu-user-name span {
  padding-left: 8px;
  padding-right: 3px;
  overflow: hidden;
}

.auth-menu-user-logout {
  width: 60px;
  padding: 13px 3px 11px 29px;
}

.user-menu a {
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration {
  width: 150px;
  padding-left: 25px;
  padding-right: 5px;
  margin-left: 5px;
}

.auth-menu:hover,
.auth-menu:focus {
  color: #ee3643;
}

.auth-menu:focus svg {
  fill: #32425c;
}

.auth-menu:active,
.auth-menu a:active {
  color: #c5c5c5;
}

.user-enter svg {
  fill: #c5c5c5;
}

.user-enter:hover svg {
  fill: #32425c;
}

.user-enter:active svg {
  fill: #c5c5c5;
}

.auth-menu-user-name svg,
.auth-menu-user-logout svg {
  fill: #c5c5c5;
}

.auth-menu-user-name:hover svg,
.auth-menu-user-logout:hover svg,
.auth-menu-user-name:focus svg,
.auth-menu-user-logout:focus svg {
  fill: #32425c
}

.auth-menu-user-name:active svg,
.auth-menu-user-logout:active svg {
  fill: #c5c5c5;
}

.auth-menu-user-name:active {
  color: #c5c5c5;
}

.order-menu li {
  background-color: #f3f7f8;
}

.order-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.order-menu a:hover,
.order-menu a:focus {
  color: #ee3643;
}

.order-menu a:active {
  color: #c5c5c5;
}

.main-header-navigation {
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  border-bottom: 5px solid #293449;
}

.main-header-navigation ul {
  list-style: none;
  margin: 0 18px 0 18px;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-header-navigation a {
  color: #ffffff;
  display: block;
  padding: 20px 31px 18px 31px;
}

.main-header-navigation a:hover,
.main-header-navigation a:focus {
  background-color: #293449;
}

.main-header-navigation a:active {
  background-color: #1d2739;
  color: #6d7179;
}

.index-main {
  padding-top: 59px;
}

.offers {
  margin-bottom: 53px;
}

.offers-slider {
  position: relative;
  margin-top: 20px;
  height: 266px;
}

.offers-slider-buttons {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 0 24px;
  top: 43%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-back-button {
  border: none;
  background: url(../img/icon-left.svg);
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.slider-forward-button {
  border: none;
  background: url(../img/icon-right.svg);
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.offers-slider-dots {
  position: absolute;
  bottom: 31px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-dot {
  border: none;
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 0;
  cursor: pointer;
}

.active-dot {
  border: 2px solid #ffffff;
  background: #ee3643;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 0;
  cursor: pointer;
}

.offers-slide {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  position: relative;
}

.offers-list .slider-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 23px;
  left: 23px;
}

.offers-slide p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  position: absolute;
  top: 62px;
  left: 24px;
}

.offers-slide a {
  position: absolute;
  top: 206px;
  left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 195px;
  padding: 11px 39px 9px 41px;
  text-align: center;
  border-radius: 3px;
}

.offers-slide a,
.popular-header a {
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.offers-slide a:hover,
.offers-slide a:focus,
.popular-header a:hover,
.popular-header a:focus,
.slide-credit a:hover,
.slide-credit a:focus,
.company-aboutus-ref:hover,
.company-aboutus-ref:focus,
.company-contacts-ref:hover,
.company-contacts-ref:focus,
.contact-form button:hover,
.contact-form button:focus,
.modal-basket-button:hover ,
.modal-basket-button:focus {
  background-color: #ca2c37;
}

.offers-slide a:active,
.popular-header a:active,
.slide-credit a:active,
.company-aboutus-ref:active,
.company-contacts-ref:active,
.contact-form button:active,
.modal-basket-button:active {
  background-color: #ba2732;
}

.right-offers {
  margin-top: 20px;
  margin-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers-list {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers-list h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 11px 0;
}

.offers-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding: 21px 10px 22px 23px;
}

.offers-item a {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 137px;
  padding: 12px 10px 9px 12px;
  text-align: center;
}

.offers-item a:hover,
.offers-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-item-materials {
  background: url(../img/icon-1.svg) no-repeat 213px;
  background-color: #ffbf47;
}

.offers-item-instrument {
  background: url(../img/icon-2.svg) no-repeat 197px;
  background-color: #3bbce3;
}

.offers-item-technic {
  background: url(../img/icon-3.svg) no-repeat 190px;
  background-color: #dc91d8;
}

.offers-item-sale {
  background: url(../img/icon-4.svg) no-repeat 197px;
  background-color: #8ed78f;
}

.offers-item-delivery {
  background: url(../img/icon-5.svg) no-repeat 190px;
  background-color: #ffc047;
}

.popular-header {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f9f5f0;
  color: #32425c;
  margin-bottom: 19px;
  padding: 26px 24px 26px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-header a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 253px;
  padding: 11px 5px 9px 5px;
  border-radius: 3px;
  text-align: center;
}

.popular-manufacturer {
  margin-bottom: 64px;
}

.popular-manufacturer ul {
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-manufacturer ul,
.services-slider ul {
  list-style: none;
}

.manufacturer-cart {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e7e7e7;
  width: 220px;
  height: 145px;
  margin-bottom: 21px;
}

.manufacturer-cart a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manufacturer-cart:hover {
  border: none;
  -webkit-box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufacturer-cart:active {
  border: none;
  -webkit-box-shadow: 0 4px 10px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0px rgba(41, 52, 73, 0.5);
}

.manufacturer-cart:active img {
  opacity: 0.3;
}

.services-header {
  margin-bottom: 60px;
}

.services-slider ul {
  background-color: #f4f8fa;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-bottom: 99px;
  z-index: 10;
  min-width: 300px;
}

.services-header-btn1,
.services-header-btn2,
.services-header-btn3 {
  width: 240px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 21px 17px 23px;
}

.services-header-btn1,
.services-header-btn2 {
  border-bottom: 1px solid #293449;
}

.services-header-btn2,
.services-header-btn3 {
  border-top: 1px solid #405069;
}

.services-slider label {
  background-color: #32425c;
  color: #ffffff;
}

.services-slider label:hover {
  background-color: #293449;
}

.button1:checked ~ ul .services-header-btn1 {
  background-color: #ffffff;
  color: #32425c;
}

.button2:checked ~ ul .services-header-btn2 {
  background-color: #ffffff;
  color: #32425c;
}

.button3:checked ~ ul .services-header-btn3 {
  background-color: #ffffff;
  color: #32425c;
}

.button1:checked ~ .services-slides .slide-delivery {
  display: block;
}

.button2:checked ~ .services-slides .slide-guarantee {
  display: block;
}

.button3:checked ~ .services-slides .slide-credit {
  display: block;
}

.services-slider {
  position: relative;
  width: 940px;
  overflow: hidden;
  padding-top: 10px;
}

.services-slides {
  width: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.services-slide {
  width: 640px;
}

.services-slide h4 {
  margin: 0;
  margin-left: 20px;
  margin-top: -5px;
}

.slide-delivery,
.slide-guarantee,
.slide-credit {
  display: none;
  height: 100%;
}

.services-slide h4 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.slide-delivery {
  background: url(../img/delivery.png) no-repeat 170px 20px;
}

.slide-guarantee {
  background: url(../img/guarantee.png) no-repeat  245px 20px;
}

.slide-credit {
  background: url(../img/credit.png) no-repeat 173px 20px;
}

.services-slide p {
  margin: 25px 0 29px 20px;
}

.slide-delivery p,
.slide-credit p {
  width: 300px;
}

.slide-guarantee p {
  width: 385px;
}

.services-slide a {
  width: 195px;
  text-align: center;
}

.company {
  background-color: #ffffff;
  color: #000000;
  padding-top: 79px;
  padding-bottom: 86px;
}

.company-aboutus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 550px;
}

.company-aboutus p {
  margin: 25px 0 0 0;
}

.delivery-rules {
  width: 400px;
}

.company-contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 390px;
  padding-left: 90px;
}

.company-contacts p {
  width: 200px;
  margin: 25px 0 0 0;
}

.company-contacts-map {
  margin-top: 32px;
}

.services {
  background-color: #f4f8fa;
}

.company-aboutus h2,
.company-contacts h2,
.popular-header h2,
.services-header h2,
.item-about h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  width: 600px;
  margin: 0;
  padding: 0;
}

.company-contacts h2 {
  width: 250px;
}

.services-header h2,
.item-about h3 {
  padding-top: 65px;
  padding-bottom: 26px;
}

.item-about p {
  margin: 0;
}

.services-header p {
  margin: 0;
  width: 400px;
}

.company-list-partners {
  list-style: none;
  margin: 0;
  padding: 0;
}

.company-list-partners li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px;
  padding-left: 37px;
  position: relative;
}

.company-list-partners li:first-child {
  padding-top: 21px;
}

.company-list-partners li::before {
  content: "";
  width: 26px;
  border-top: 2px solid #ee3643;
  position: absolute;
  top: 30px;
  left: 0px;
}

.company-list-partners li:last-child::before {
  top: 29px;
}

.company-contacts-ref,
.company-aboutus-ref,
.services-slide a {
  background-color: #ee3643;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.company-contacts-ref {
  margin-top: 41px;
  padding: 11px 50px 9px 64px;
}

.company-contacts-map-ref {
  display: block;
  height: 157px;
}

.company-aboutus-ref {
  margin-top: 36px;
  padding: 11px 39px 9px 41px;
}

.company-aboutus-ref {
  width: 220px;
}

.main-footer ul {
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #32425c;
}

.main-footer-top-left {
  width: 380px;
}

.main-footer-top-right {
  width: 560px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-footer-navigation-summary {
  margin: 37px 0 0 12px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer-navigation-offers {
  margin: 34px 0 0 35px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer-top {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 49px;
}

.main-logo-footer {
  background-color: #ee3643;
  display: block;
  border-bottom: 5px solid #b52933;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  margin-bottom: 32px;
  padding: 20px 41px 14px 42px;
}

.footer-address {
  font-style: normal;
  color: #f3f7f9;
}

.footer-address p {
  margin: 0;
  padding-left: 2px;
  padding-right: 5px;
}

.main-footer-navigation-summary a {
  color: #f3f7f9;
}

.main-footer-navigation-offers a {
  color: #ffd180;
}

.main-footer-navigation-summary a:active,
.main-footer-navigation-offers a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0 1px 0 1px #293449;
}

.main-footer-bottom a {
  color: #ffd180;
}

.main-footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom-desc {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 385px;
  margin: 37px 0 0 0;
  padding-right: 150px;
}

.main-footer-sociallinks {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 36px 0 0 10px;
  padding: 0;
  width: 250px;
}

.main-footer-sociallinks li {
  padding-right: 5px;
}

.vk {
  background: url(../img/vk-icon.svg) 8px 13px no-repeat;
}

.fb {
  background: url(../img/fb-icon.svg) 15px 10px no-repeat;
}

.instagram {
  background: url(../img/insta-icon.svg) 10px 10px no-repeat;
}

.main-footer-sociallinks a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.main-footer-sociallinks a:hover,
.main-footer-sociallinks a:focus,
.main-footer-sociallinks a:active {
  background-color: #ee3643;
}

.main-footer-bottom-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 310px;
}

.main-footer-bottom-right p {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding-top: 37px;
}

.main-footer-bottom-right p:first-child {
  padding-left: 5px;
}

.main-footer-bottom-right p:last-child {
  padding-left: 44px;
}

/* Разметка элементов catalog.html */

.catalog-main {
  background-color: #ffffff;
  position: relative;
}

.catalog-main h1 {
  background-color: #f1f5f7;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 21px 0;
  padding: 30px 28px 29px 28px;
}

.breadcrumbs {
  padding: 18px 0 20px 0;
}

.breadcrumbs a {
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 3px;
  margin-right: 42px;
  position: relative;
}

.breadcrumbs a:first-child {
  background: url(../img/icon-home.svg) 0 5px no-repeat;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  width: 18px;
  height: 17px;
  margin-right: 36px;
}

.breadcrumbs a:not(:last-child)::after {
  content: "";
  background: url(../img/icon-right-small.svg) no-repeat;
  position: absolute;
  width: 10px;
  height: 18px;
  right: -22px;
  top: 5px;
}

.breadcrumbs a:not(:first-child)::after {
  right: -26px;
}

.items-article-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-cart {
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 19px;
  margin-right: 20px;
  width: 220px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-main .item-cart:nth-child(3n) {
  margin-right: 0;
}

.index-main .item-cart:nth-child(4n) {
  margin-right: 0;
}

.new::before {
  content: "";
  position: absolute;
  background-image: url(../img/flag-new.png);
  width: 60px;
  height: 59px;
  right: -1px;
  top: -1px;
  z-index: 100;
}

.item-cart:hover {
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.item-cart-img {
  width: 218px;
  height: 170px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.item-cart:hover .item-cart-img {
  display: none;
}

.item-cart-links:focus-within + .item-cart-img {
  display: none;
}

.item-cart-links {
  background: #ffffff;
  width: 218px;
  min-height: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-cart-links a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 135px;
  margin-bottom: 7px;
  padding: 10px 5px 7px 7px;
  border-radius: 3px;
  text-align: center;
}

.buy {
  background-color: #63a63e;
  color: #ffffff;
  border-bottom: 3px solid #367315;
  margin-top: 45px;
  position: relative;
}

.buy::before {
  content: "";
  background: url(../img/cart-icon.svg) no-repeat;
  opacity: 0.3;
  margin-right: 10px;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 14px;
}

.buy:hover::before,
.buy:active::before {
  opacity: 1;
}

a.to-bookmarks {
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #63a63e;
  padding: 8px 5px 6px 7px;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
  color: #ffffff;
  border-bottom: 3px solid #367315;
}

.buy:active {
  background-color: #518534;
  color: #ffffff;
  border-bottom: 3px solid #367315;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #32425c;
}

.to-bookmarks:active {
  opacity: 0.3;
}

.item-cart h3 {
  line-height: 19px;
  text-align: center;
  padding: 0 25px 0 25px;
  margin: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item-name {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.item-price-old {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  font-weight: bold;
  text-decoration: line-through;
  margin-top: 12px;
  margin-left: 50px;
  margin-right: 43px;
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.item-price-sale {
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
  font-weight: bold;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 119px;
  text-align: center;
  margin: 10px 43px 21px 43px;
  padding: 11px 5px 9px 25px;
  border-right: 1px solid #ee3643;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
}

.item-price-sale::after {
  content: "";
  position: absolute;
  right: -38px;
  bottom: 0px;
  border: 19px solid #ffffff;
  border-right-color: transparent;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.filter {
  width: 220px;
}

.items {
  width: 700px;
  margin-left: 20px;
}

.filter-section-header {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filter fieldset {
  border: none;
  margin: 0 0 22px 0;
  padding: 0;
}

.filter fieldset:nth-child(1),
.filter fieldset:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}

.filter button {
  width: 22px;
  height: 22px;
  border: none;
  background: url(../img/filter-button.svg) no-repeat;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter input[type="submit"] {
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 35px;
  padding: 10px 40px 8px 37px;
}

.filter-price,
.filter-buttons {
  background-color: #f7f3ec;
  border: none;
}

.filter-buttons {
  padding: 30px 10px 20px 20px;
  position: relative;
}

.filter-buttons button {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.filter-buttons button:nth-child(2) {
  margin-left: 114px;
}

.filter-buttons svg {
  width: 170px;
  height: 2px;
  position: absolute;
  left: 30px;
  top: 40px;
  overflow: visible;
}

.filter-input {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 25px;
}

.filter-input span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.filter-price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95px;
  height: 38px;
  font-size: 17px;
  line-height: 28px;
  padding: 4px 5px 6px 7px;
  text-align: center;
}

.filter-manufacturer,
.filter-charge {
  position: relative;
  padding-left: 35px;
}

.filter-manufacturer::before {
  content: "";
  background: url(../img/checkbox-off.svg) no-repeat;
  width: 26px;
  height: 25px;
  position: absolute;
  left: 0;
  opacity: 0.8;
}

.filter-manufacturer:hover::before {
  opacity: 1;
}

.checkbox-filter:checked + .filter-manufacturer::before {
  background: url(../img/checkbox-on.svg) no-repeat;
}

.checkbox-filter:disabled + .filter-manufacturer::before {
  opacity: 0.3;
}

.checkbox-filter:focus + .filter-manufacturer::before {
  opacity: 1;
}

.filter-charge::before {
  content: "";
  background: url(../img/radio-off.svg) no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  bottom: -3px;
  opacity: 0.8;
}

.filter-charge:hover::before {
  opacity: 1;
}

.radio-filter:checked + .filter-charge::before {
  background: url(../img/radio-on.svg) no-repeat;
}

.radio-filter:disabled + .filter-charge::before {
  opacity: 0.3;
}

.radio-filter:focus + .filter-charge::before {
  opacity: 1;
}

.filter-item {
  margin: 0 0 16px 0;
  min-height: 24px;
}

.filter-item:last-child {
  margin: 0 0 18px 0;
}

.filter h2 {
  margin: 0;
  padding: 0;
}

.filter h2,
.sort-label,
.sort-links a,
.pagination {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.sort,
.filter h2 {
  background-color: #f7f3ec;
  margin-bottom: 16px;
  padding: 10px 10px 10px 19px;
}

.sort {
  margin-bottom: 18px;
}

.sort-label {
  width: 182px;
  padding-right: 10px;
}

.sort-links {
  width: 425px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 5px;
}

.sort-links a {
  color: #c5c5c5;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #ee3643;
          text-decoration-color: #ee3643;
  margin-left: 30px;
  margin-right: 38px;
}

.sort-links a:hover,
.sort-links a:focus {
  color: #000000;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.sort-links a:active {
  color: #ee3643;
  text-decoration: none;
}

a.active-sort-link {
  color: #ee3643;
  text-decoration: none;
}

a.active-sort-link svg {
  fill: #ee3643;
}

a.active-sort-link:hover,
a.active-sort-link:focus,
a.active-sort-link:active {
  color: #ee3643;
}

a.active-sort-link:hover svg,
a.active-sort-link:focus svg,
a.active-sort-link:active svg {
  fill: #ee3643;
}

.sort-links-arrows {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sort-links-arrows a:last-child {
  margin-left: 21px;
}

.sort-links-arrows a {
  height: 10px;
}

.sort-links-arrows svg {
  fill: #c5c5c5;
  vertical-align: text-top;
}

.sort-link:hover svg,
.sort-link:focus svg {
  fill: #231f20;
}

.sort-link:active svg {
  fill: #ee3643;
}

.pagination {
  margin-top: 10px;
}

.pagination a.current-page {
  background-color: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
}

.pagination a {
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 22px 9px 60px 0;
  padding: 9px 2px 9px 2px;
  min-width: 39px;
  min-height: 39px;
  text-align: center;
}

.pagination a:last-child {
  padding-right: 30px;
  padding-left: 30px;
}

.pagination a:hover,
.pagination a:focus,
.filter input[type="submit"]:hover,
.filter input[type="submit"]:focus {
  background-color: #ffffff;
  color: #000000;
  border-color: #bdc6ca;
}

.pagination a:active,
.filter input[type="submit"]:active {
  border-color: #ee3643;
}

.item-about {
  padding-bottom: 68px;
  background-color: #f2f6f8;
}

/* Модальные окна */

.reset-modal {
  background: url(../img/form-reset.svg) no-repeat;
  position: absolute;
  right: 9px;
  top: 10px;
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.modal-contact,
.modal-basket {
  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  -webkit-box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75), inset 0 -112px 0 0 #f4f4f4;
          box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75), inset 0 -112px 0 0 #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 620px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
}

.modal-contact {
  min-height: 430px;
  margin-left: -310px;
  margin-top: -215px;
}

.modal-basket {
  min-height: 283px;
  margin-left: -310px;
  margin-top: -141px;
}

.modal-basket-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  width: 220px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10px 0 10px;
  padding: 11px 5px 9px 5px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.modal-basket-button:last-child {
  background-color: #ffffff;
  color: #000000;
}

.modal-basket h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  width: 100%;
  height: 67px;
  margin-top: 67px;
  margin-bottom: 67px;
  padding: 0 10px 0 100px;
}

.modal-basket h2::before {
  content: "";
  position: absolute;
  background: url(../img/icon-done.svg);
  width: 66px;
  height: 66px;
  top: 48px;
  left: 80px;
}

.modal-map {
  -webkit-box-shadow: 0 0px 16px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 16px 2px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -470px;
  margin-top: -223px;
  max-height: 446px;
  z-index: 11;
}

.contact-form {
  padding-top: 36px;
}

.container-form {
  width: 480px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-contact-area {
  min-width: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.modal-contact-area label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 9px;
}

.modal-contact-area input,
.modal-contact-area textarea {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 5px 5px 17px;
  min-width: 220px;
  height: 38px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-contact-area input::-webkit-input-placeholder,
.modal-contact-area textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

.modal-contact-area input:-ms-input-placeholder,
.modal-contact-area textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.modal-contact-area input::-ms-input-placeholder,
.modal-contact-area textarea::-ms-input-placeholder {
  color: #a9a9a9;
}

.modal-contact-area input::placeholder,
.modal-contact-area textarea::placeholder {
  color: #a9a9a9;
}

.modal-contact-area input:-ms-input-placeholder,
.modal-contact-area textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.modal-contact-area textarea {
  min-width: 460px;
  min-height: 114px;
}

.contact-letterarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-form button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  width: 460px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 66px 80px auto 80px;
  padding: 11px 5px 9px 5px;
  border-radius: 3px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.modal-appearence {
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/* Анимации */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(-3400px);
            transform: translateX(-3400px);
  }

  70% {
    -webkit-transform: translateX(65px);
            transform: translateX(65px);
  }

  90% {
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-3400px);
            transform: translateX(-3400px);
  }

  70% {
    -webkit-transform: translateX(65px);
            transform: translateX(65px);
  }

  90% {
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
